$main-font: 'Poppins',
sans-serif;
$color-one : #212121;
$color-two : #304953;
$bright-color : #FFFFFF;

body,
html {
    padding: 0;
    margin: 0;
}

.section-one {
    height: 100vh;
    background: $color-one;

    h1 {
        font-family: $main-font;
        text-transform: uppercase;
        font-size: 54px;
        color: $bright-color;
        margin-top: 0px;
        letter-spacing: 5px;
        line-height: 100vh;
        text-align: center;
    }
}