$main-font: 'Poppins',
sans-serif;
$color-one : #212121;
$color-two : #304953;
$bright-color : #FFFFFF;

body,
html {
    padding: 0;
    margin: 0;
}

.section-one {
    height: 100vh;
    background: $color-one;
    position: relative;

    h1 {
        font-family: $main-font;
        text-transform: uppercase;
        font-size: 54px;
        color: $bright-color;
        margin-top: 0px;
        letter-spacing: 5px;
        line-height: 100vh;
        text-align: center;
    }

    .mouse {
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 50px;
        width: 18px;
        height: 30px;
        border: 1px solid $bright-color;
        border-radius: 20px;
        cursor: pointer;

        .dot {
            position: absolute;
            width: 2px;
            height: 5px;
            background: $bright-color;
            top: 5px;
            left: 50%;
            right: 50%;
            border-radius: 20px;
        }
    }

}