$main-font: 'Poppins',
sans-serif;
$color-one : #212121;
$color-two : #304953;
$bright-color : #FFFFFF;

// Actually in the simple way, we only add this property :)
html {
    scroll-behavior: smooth;
}

body,
html {
    padding: 0;
    margin: 0;
}

%section {
    height: 100vh;
    position: relative;
}

%button {
    position: absolute;
    color: $bright-color;
    bottom: 60px;
    font-family: $main-font;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid $bright-color;
    padding: 10px 25px;
}

.button-back {
    @extend %button;
    left: 35%;
}

.button-move {
    right: 35%;
    @extend %button;
}

@mixin title {
    font-family: $main-font;
    text-transform: uppercase;
    font-size: 54px;
    color: $bright-color;
    margin-top: 0px;
    letter-spacing: 5px;
    line-height: 100vh;
    text-align: center;
}

.section-one {
    @extend %section;
    background: $color-one;

    h1 {
        @include title();
    }

    .mouse {
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 50px;
        width: 18px;
        height: 30px;
        border: 1px solid $bright-color;
        border-radius: 20px;
        cursor: pointer;

        .dot {
            position: absolute;
            width: 2px;
            height: 5px;
            background: $bright-color;
            top: 5px;
            left: 50%;
            right: 50%;
            border-radius: 20px;
        }
    }

}

.section-two {
    @extend %section;
    background: #304953;

    h1 {
        @include title();
    }
}

.section-three {
    @extend %section;
    background: #3f1616;

    h1 {
        @include title();
    }
}